/vendor
/node_modules
/.env
/.env.backup
/.env.production
/.phpunit.cache
/storage/*.key
/storage/debugbar
/storage/logs/*.log
/.idea
/.vscode
/.fleet
/.raw
*.log
*.cache
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.elastic
/.sublime*